

<div class=" card card-body">
    <div class="container">
        <div class="row">
            <h3>Contact Information</h3>
        </div>
        <div class="row">
            <div class="col-sm form-group">
                <label class="control-label">Land Line Phone</label>
                <input class="form-control" type="text" v-model="contacts.Phone" placeholder="Phone" />
            </div>
            <div class="col-sm form-group">
                <label class="control-label">Mobile Phone</label>
                <input class="form-control" type="text" v-model="contacts.Mobile" placeholder="Mobile" />
            </div>
            <div class="col-sm form-group">
                <label class="control-label">Work Email</label>
                <input class="form-control" type="email" v-model="contacts.WorkEmail" placeholder="Email" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm form-group">
                <label class="control-label">Personal Email</label>
                <input class="form-control" type="email" v-model="contacts.Email" placeholder="Email" />
            </div>
            <div class="col-sm form-group">
                <label class="control-label">Facebook URLl</label>
                <input class="form-control" type="url" v-model="contacts.FBurl" placeholder="url" />
            </div>
            <div class="col-sm form-group">
                <label class="control-label">Skype Id</label>
                <input class="form-control" type="url" v-model="contacts.Skype" placeholder="skype" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm form-group">
                <label class="control-label">Telegram</label>
                <input class="form-control" type="url" v-model="contacts.Telegram" placeholder="telegram" />
            </div>
        </div>
    </div>
</div>