<div class=" card card-body">
    <div class="container">
        <div class="row">
            <div class="form-group col-sm">
                <label class="control-label">Background</label>
                <textarea class="form-control" type="date" rows="7" v-model="person.Background"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm">
                <label class="control-label">Roles and Responsibilites</label>
                <textarea class="form-control" type="date" rows="7" v-model="person.RolesAndResponsibilities"></textarea>
            </div>
        </div>
    </div>
    <partial name="Work/_Projects" />

</div>