<div class="card">
    <div class="container alternating card-body" v-for="(skl,ndex) in skills">
        <div class="row g-3">
            <div class="form-group  col-sm-7">
                <label class="control-label">Skill</label>

                <input class="form-control" type="text" v-model="skl.Skill" placeholder="Skill" />
            </div>
            <div class="form-group col-sm-5">
                <label class="control-label">Domain Level</label>
                <input class="form-control" type="text" v-model="skl.Domain" placeholder="Domain" />
            </div>
        </div>
        <div class="row g-3">
            <div class="form-group col-sm">
                <label class="control-label">Expertise Level</label>
                <select v-model="skl.Level" class="form-select" aria-label="Expertise Level">
                    <option selected>Familliar</option>
                    <option value="primary">Beginner</option>
                    <option value="secondary">Intermediate</option>
                    <option value="tertiary">Casual</option>
                    <option value="graduate">Advance</option>
                    <option value="masteral">Expert</option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label class="control-label">Self Rating</label>
                <input class="form-control" type="text" v-model="skl.SelfRate" placeholder="Rate your self 1 to 10. 10 being the highest" />
            </div>
            <div class="form-group col-sm-4">
                <label class="control-label">Years used</label>
                <input class="form-control" type="text" v-model="skl.Years" placeholder="Years Used" />
            </div>
            <div class="form-group col-sm-1">
                <label>From</label>
            </div>
        </div>
        <button class="btn btn-secondary" type="button" v-on:click="deleteEvent(skills,ndex)">Remove</button>
        <hr />
    </div>
    <button class="btn" type="button" v-on:click="addSkill">Add</button>
</div>

