@model BioData.Pages.Bio._WorkModel
@{
}

<div>
    <div>
        <div v-for="(wrk,ndex) in workhistory">
            <div class="row g-3">
                <div class="col-sm-7">
                    <input class="form-control" v-bind:name="'wrk_' + ndex + '.Organisation'" type="text" v-model="wrk.Organisation" placeholder="Organisation" />
                </div>
                <div class="col-sm-5">
                    <input class="form-control" type="text" v-model="wrk.Location" placeholder="Location" />
                </div>
                <div class="col-sm-4">
                    <input class="form-control" type="text" v-model="wrk.Position" placeholder="Position" />
                </div>
                <div class="col-sm-1">
                    <label>From</label>
                </div>
                <div class="col-sm-1">
                    <input class="form-control" style="width:60px;" name="wrk.MonthCompletedFrom" type="text" pattern="\d*" maxlength="2" v-model="wrk.MonthCompletedFrom" placeholder="MM" />
                </div>
                <div class="col-sm-2">
                    <input class="form-control" style="width:90px;" name="wrk.YearCompletedFrom" type="text" pattern="\d*" maxlength="4" v-model="wrk.YearCompletedFrom" placeholder="YYYY" />
                </div>
                <div class="col-sm-1">
                    <label>To</label>
                </div>
                <div class="col-sm-1">
                    <input class="form-control"  style="width:60px;" name="wrk.MonthCompletedTo" type="text" pattern="\d*" maxlength="2" v-model="wrk.MonthCompletedTo" placeholder="MM" />
                </div>
                <div class="col-sm-2">
                    <input class="form-control" style="width:90px;" name="wrk.YearCompletedTo" type="text" pattern="\d*" maxlength="4" v-model="wrk.YearCompletedTo" placeholder="YYYY" />
                </div>
                <div class="col-sm">
                    <input class="form-control" type="text" v-model="wrk.Decription" placeholder="Decription" />
                </div>
                <div class="col-sm">
                    <input type="text" v-model="wrk.RolesAndRespinsibilities" placeholder="Roles and Responsibilites" />
                </div>
            </div>
            <hr />
        </div>
        <button class="btn" type="button" v-on:click="addWorkHistoryLine" >Add</button>
    </div>
</div>
